# Dependencies
node_modules/

# Environment Variables
.env
server/.env
client/.env
client/.env.local

# Build Output
client/dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite
*.local
